html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9f7f9;
  color: #2b0034;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  font-size: 1.1em;
}

#contenedor {
  text-align: center;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(85, 3, 105, 0.2);
  padding: 2em;
  max-width: 400px;
  width: 90%;
}

#tituloPagina {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: "Playfair Display", serif;
  font-size: 2em;
  color: #550369;
}

#foto {
  height: 300px;
  border: #550369 solid 5px;
  margin-top: 15px;
  border-radius: 10px;
}

.tituloPrediccion {
  font-size: 1.8em;
  margin-top: 0.5em;
  color: #550369;
}

.prediccion {
  font-size: 1em;
  margin-bottom: 1.5em;
}

.prediccion::first-letter {
  text-transform: uppercase;
}

#boton {
  font-size: 1em;
  background-color: #d52ff7b5;
  color: rgb(23, 1, 41);
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  animation: fadeIn 0.8s ease; /*  Solo el bot贸n tiene animaci贸n */
}

#boton:hover {
  background-color: #c21eeeb5;
  transform: scale(1.05);
}

/* Animaci贸n solo para el bot贸n */
@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(10px); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}
